- Criando algumas features para o estudo de Behavior Analytics

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import json
import requests
from time import sleep
from datetime import datetime
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
init_notebook_mode(connected=True)
import warnings
warnings.filterwarnings('ignore')

In [2]:
# falencias : 24ffc4c7-7a5b-40dd-be93-f98b4b47e68f

In [3]:
engine = create_engine("mysql+pymysql://capMaster:#jackpot123#@captalys.cmrbivuuu7sv.sa-east-1.rds.amazonaws.com:23306/varejo")
con = engine.connect()
df = pd.read_sql("select * from consultas_idwall_operacoes", con)

In [4]:
df.head()

,id,cnpj_cpf,data_ref,data_inclusao,data_ocorrencia,natureza,valor,tipo,numero_consulta,situacao_cadastral_cnpj,sancoes_onu,pep,mun_fronteirico
0,1,28399115827,2018-11-01,0000-00-00,0000-00-00,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,42.17,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
1,2,28399115827,2018-11-01,None,0000-00-00,None,827.64,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
2,3,28399115827,2018-11-01,None,0000-00-00,None,839.87,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
3,4,28399115827,2018-11-01,None,0000-00-00,None,849.62,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
4,5,19008188000142,2018-11-05,2015-06-05,2015-01-31,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,25397.60,pendencias,250a23e1-7797-4621-bdaf-e6c2d99d2dc8,NaN,NaN,NaN,None

In [5]:
# df['data_consulta'] = df.apply(lambda x : x['data_ref'].date(), axis=1)

In [6]:
fr = list()
for el in df['cnpj_cpf'].unique().tolist():
    dt = df[df['cnpj_cpf']==el]
    data_max = dt['data_ref'].max()
    dt = dt[dt['data_ref']==data_max]
    fr.append(dt)

In [7]:
dfCons = pd.concat(fr)

In [8]:
dfCons.shape

(12421, 13)

In [9]:
dfCons.head()

,id,cnpj_cpf,data_ref,data_inclusao,data_ocorrencia,natureza,valor,tipo,numero_consulta,situacao_cadastral_cnpj,sancoes_onu,pep,mun_fronteirico
0,1,28399115827,2018-11-01,0000-00-00,0000-00-00,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,42.17,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
1,2,28399115827,2018-11-01,None,0000-00-00,None,827.64,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
2,3,28399115827,2018-11-01,None,0000-00-00,None,839.87,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
3,4,28399115827,2018-11-01,None,0000-00-00,None,849.62,pendencias,360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b,NaN,NaN,NaN,None
4999,6267,19008188000142,2018-12-03,2015-06-05,2015-01-31,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,25397.60,pendencias,ec23b694-37ea-4cbe-85b4-cfed79f90ae6,NaN,NaN,NaN,None

In [10]:
dfCons.to_excel("../tabelas/base_idwall_201904.xlsx")

In [11]:
# dfCons = pd.read_excel("../tabelas/base_idwall.xlsx")

In [12]:
dfCons['flag_cnpj'] = dfCons.apply(lambda x : int(len(x['cnpj_cpf'])==14), axis=1)

In [13]:
dfCons[dfCons['cnpj_cpf']=='20604000000370']

,id,cnpj_cpf,data_ref,data_inclusao,data_ocorrencia,natureza,valor,tipo,numero_consulta,situacao_cadastral_cnpj,sancoes_onu,pep,mun_fronteirico,flag_cnpj
32330,33659,20604000000370,2019-04-09 16:16:43,2016-02-12,2016-01-26,Falta Pagamento,1000.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,None,1
32331,33660,20604000000370,2019-04-09 16:16:43,2016-01-27,2015-12-26,Falta Pagamento,1000.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,None,1
32332,33661,20604000000370,2019-04-09 16:16:43,2018-08-17,2015-12-16,Falta Pagamento,566.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,None,1
32333,33662,20604000000370,2019-04-09 16:16:43,2015-12-09,2015-11-26,Falta Pagamento,1012.0,protestos,fab80e44-6dd3-4c8d-bbcc-a399f42fada7,1.0,1.0,NaN,None,1

In [14]:
dfCons['natureza'].unique().tolist()

['CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 None,
 'Falta Pagamento',
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Execução Fiscal Federal',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Arrendamentos, inclusive leasing',
 'Operações ajuizadas ',
 'Busca e Apreensão',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves']

In [15]:
def get_validacoes(numero):
    URL = "https://api-v2.idwall.co/relatorios"
    authorization = "b3818f92-5807-4acf-ade8-78a1f6d7996b"
    url_details = URL + "/{}".format(numero) + "/validacoes"
    while True:
        dets = requests.get(url_details, headers={"authorization": authorization})
        djson = dets.json()
        sleep(1)
        if djson['result']['status'] == "CONCLUIDO":
            break

    return dets.json()

def get_details(numero):
    URL = "https://api-v2.idwall.co/relatorios"
    authorization = "b3818f92-5807-4acf-ade8-78a1f6d7996b"
    url_details = URL + "/{}".format(numero) + "/dados"
    while True:
        dets = requests.get(url_details, headers={"authorization": authorization})
        djson = dets.json()
        sleep(1)
        if djson['result']['status'] == "CONCLUIDO":
            break

    return dets.json()

In [16]:
## cnpj moip 
dfCons[dfCons['cnpj_cpf']=='18356074000120']

,id,cnpj_cpf,data_ref,data_inclusao,data_ocorrencia,natureza,valor,tipo,numero_consulta,situacao_cadastral_cnpj,sancoes_onu,pep,mun_fronteirico,flag_cnpj
26451,27779,18356074000120,2019-03-19 10:33:14,2018-01-09,2015-01-27,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,11421.00,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26452,27780,18356074000120,2019-03-19 10:33:14,2017-12-18,2015-01-26,Cartão de crédito,2318.53,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26453,27781,18356074000120,2019-03-19 10:33:14,2017-12-18,2014-12-13,Cartão de crédito,2590.85,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26454,27782,18356074000120,2019-03-19 10:33:14,2018-01-09,2014-05-09,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,56003.10,restricoes_financeiras,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26455,27783,18356074000120,2019-03-19 10:33:14,2015-12-19,2015-11-01,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,1877.29,pendencias,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26456,27784,18356074000120,2019-03-19 10:33:14,2017-06-20,2017-06-02,None,13.00,cheques,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26457,27785,18356074000120,2019-03-19 10:33:14,2018-02-26,2018-02-07,Falta Pagamento,5946.33,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26458,27786,18356074000120,2019-03-19 10:33:14,2017-10-24,2017-07-13,Falta Pagamento,361.79,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26459,27787,18356074000120,2019-03-19 10:33:14,2017-10-24,2017-07-13,Falta Pagamento,817.83,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26460,27788,18356074000120,2019-03-19 10:33:14,2016-01-20,2016-01-01,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26461,27789,18356074000120,2019-03-19 10:33:14,2015-12-18,2015-12-01,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26462,27790,18356074000120,2019-03-19 10:33:14,2015-11-18,2015-11-01,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26463,27791,18356074000120,2019-03-19 10:33:14,2015-10-22,2015-10-01,Falta Pagamento,500.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26464,27792,18356074000120,2019-03-19 10:33:14,2015-05-07,2015-04-15,Falta Pagamento,844.75,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1
26465,27793,18356074000120,2019-03-19 10:33:14,2015-04-10,2015-03-11,Falta Pagamento,267.00,protestos,c8711cf5-3181-443c-bd79-51fd18b519a6,0.0,NaN,NaN,None,1

In [24]:
js = get_details('c8711cf5-3181-443c-bd79-51fd18b519a6')
js = js.get("result")

In [25]:
js.keys()

dict_keys(['atualizado_em', 'criado_em', 'mensagem', 'nome', 'numero', 'resultado', 'status', 'validado_em', 'validado_manualmente', 'bigboost', 'cnpj', 'ofac_sdn', 'restricoes_financeiras', 'protestos', 'pendencias', 'cheques'])

In [26]:
def get_cheques(js):
    res = js.get("cheques")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        df = df[["data_ocorrencia", "uf", "quantidade_cheques"]]
        df["tipo"] = "cheques"
        return df
    else:
        return None

In [27]:
def get_restricoes_financeiras(js):
    res = js.get("restricoes_financeiras")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        if "uf" in list(df.columns):
            df = df[["data_ocorrencia", "modalidade_natureza", "natureza", "uf", "valor"]]
        else:
            df = df[["data_ocorrencia", "modalidade_natureza", "natureza", "uf", "valor"]]
            df['uf'] = None
        
        df["tipo"] = "restricoes_financeiras"
        return df
    return None

In [28]:
def get_protestos(js):
    res = js.get("protestos")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        if "uf" in list(df.columns):
            df = df[["data_anotacao", "natureza", "sub_judice_descricao", "uf", "valor"]]
            df.columns = ["data_ocorrencia", "natureza", "modalidade_natureza", "uf", "valor"]
        else:
            df = df[["data_anotacao", "natureza", "sub_judice_descricao", "valor"]]
            df.columns = ["data_ocorrencia", "natureza", "modalidade_natureza", "valor"]
            df["uf"] = None
        df['tipo'] = "protestos"
        return df
    return None

In [29]:
def get_pendencias(js):
    res = js.get("pendencias")
    if not res is None:
        df = pd.DataFrame(res.get("itens"))
        if "uf" in list(df.columns):
            df = df[["data_ocorrencia", "modalidade", "natureza", "valor", "uf"]]
            
        else:
            df = df[["data_ocorrencia", "modalidade", "natureza", "valor"]]
            df["uf"] = None
        df.rename(columns={"modalidade" : "modalidade_natureza"}, inplace=True)
        df['tipo'] = "pendencias"
        return df
    return None

In [30]:
def get_processos(js):
    res = js.get("processos")
    if not res is None:
        df = pd.DataFrame(res.get('itens'))
        if "uf" in list(df.columns):
            df = df[["data_ocorrencia", "descricao_natureza", "natureza", "uf", "valor"]]
        else:
            df = df[["data_ocorrencia", "descricao_natureza", "natureza", "valor"]]
            df["uf"] = None
        df.rename(columns = {"descricao_natureza" : "modalidade_natureza"})
        df["tipo"] = "processos"
        return df
    return None

In [31]:
get_restricoes_financeiras(js)

,data_ocorrencia,modalidade_natureza,natureza,uf,valor,tipo
0,27/01/2015,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,SP,"R$ 11420,97",restricoes_financeiras
1,26/01/2015,CRED CARTAO,Cartão de crédito,,"R$ 2318,53",restricoes_financeiras
2,13/12/2014,CRED CARTAO,Cartão de crédito,,"R$ 2590,85",restricoes_financeiras
3,09/05/2014,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,SP,"R$ 56003,05",restricoes_financeiras

In [32]:
get_protestos(js)

,data_ocorrencia,natureza,modalidade_natureza,uf,valor,tipo
0,07/02/2018,Falta Pagamento,Dívida não contestada.,SP,"R$ 5946,33",protestos
1,13/07/2017,Falta Pagamento,Dívida não contestada.,SP,"R$ 361,79",protestos
2,13/07/2017,Falta Pagamento,Dívida não contestada.,SP,"R$ 817,83",protestos
3,01/01/2016,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
4,01/12/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
5,01/11/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
6,01/10/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 500,00",protestos
7,15/04/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 844,75",protestos
8,11/03/2015,Falta Pagamento,Dívida não contestada.,SP,"R$ 267,00",protestos

In [33]:
get_processos(js)

In [34]:
get_pendencias(js)

,data_ocorrencia,modalidade_natureza,natureza,valor,uf,tipo
0,01/11/2015,OUTRAS OPER,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 1877,29",None,pendencias

In [35]:
get_cheques(js)

  data_ocorrencia  uf quantidade_cheques     tipo
0      02/06/2017  SP                 13  cheques

In [36]:
js = get_details("24ffc4c7-7a5b-40dd-be93-f98b4b47e68f")
js = js.get("result")

In [37]:
get_processos(js)

,data_ocorrencia,descricao_natureza,natureza,uf,valor,tipo
0,03/07/2017,EXC JUD TRAB,Execução de Título Judicial Trabalhista,SC,"R$ 17788,37",processos
1,24/01/2017,EXC JUD TRAB,Execução de Título Judicial Trabalhista,RS,"R$ 75143,93",processos
2,11/08/2016,FISCAL ESTADUAL,Execução Fiscal Estadual,SC,"R$ 0,00",processos

In [38]:
## cpf = 360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b

In [39]:
js = get_details("360ec7c5-ca6b-4adc-8b76-6e1fc4cf921b")

In [40]:
js = js.get("result")

In [41]:
js.keys()

dict_keys(['atualizado_em', 'criado_em', 'mensagem', 'nome', 'numero', 'resultado', 'status', 'validado_em', 'validado_manualmente', 'pep', 'cpf', 'ofac_sdn', 'pendencias', 'pessoas_relacionadas', 'enderecos', 'emails', 'participacao_empresas'])

In [42]:
get_cheques(js)

In [43]:
get_pendencias(js)

,data_ocorrencia,modalidade_natureza,natureza,valor,uf,tipo
0,10/11/2015,DUPLICATA,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,"R$ 42,17",NaN,pendencias
1,10/12/2017,NaN,NaN,"R$ 827,64",SP,pendencias
2,10/11/2017,NaN,NaN,"R$ 839,87",SP,pendencias
3,10/10/2017,NaN,NaN,"R$ 849,62",SP,pendencias

In [44]:
df = dfCons[dfCons['flag_cnpj']==1]

In [45]:
df['cnpj_cpf'].unique().tolist().__len__()

2281

In [28]:
el = '19008188000142'

In [47]:
from tqdm import tqdm_notebook

In [48]:
fr = list()
cheques = list()
err = list()

for el in tqdm_notebook(df["cnpj_cpf"].unique().tolist()):
    numero = df[df['cnpj_cpf']==el]['numero_consulta'].iloc[0]

    js = get_details(numero)

    js = js.get("result")

    
    try:
        df1 = get_restricoes_financeiras(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)

        df1 = get_protestos(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)

        df1 = get_pendencias(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)

        df1 = get_processos(js)
        if not df1 is None:
            df1['cnpj'] = el
            fr.append(df1)
        df0 = get_cheques(js)
        if not df0 is None:
            df0['cnpj'] = el
            cheques.append(df0)
    except:
        err.append(el)

HBox(children=(IntProgress(value=0, max=2281), HTML(value='')))

In [49]:
err.__len__()

29

In [50]:
df_cheques = pd.concat(cheques)

In [51]:
df_cheques.sort_values("quantidade_cheques", ascending=False).head()

  data_ocorrencia  uf quantidade_cheques     tipo            cnpj
0      13/10/2016  PE                  9  cheques  10727992000107
0      26/12/2016                      9  cheques  58126236000159
1      07/01/2019  SP                  9  cheques  06145688000184
0      27/09/2018  SP                  9  cheques  17189173000100
0      03/12/2018  SC                  8  cheques  30640876000163

In [52]:
df_cheques.to_excel("../tabelas/base_cheques_201904.xlsx")

In [30]:
df_cheques = pd.read_excel("../tabelas/base_cheques.xlsx")

In [53]:
dfDiv = pd.concat(fr)

In [54]:
dfDiv.shape

(9284, 8)

In [55]:
dfDiv['cnpj'].unique().tolist().__len__()

717

In [56]:
dfDiv["descricao_natureza"].unique().tolist()

[nan,
 'EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [57]:
dfDiv[dfDiv['cnpj']=='18356074000120']

,cnpj,data_ocorrencia,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor
0,18356074000120,27/01/2015,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 11420,97"
1,18356074000120,26/01/2015,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2318,53"
2,18356074000120,13/12/2014,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2590,85"
3,18356074000120,09/05/2014,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 56003,05"
0,18356074000120,07/02/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 5946,33"
1,18356074000120,13/07/2017,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 361,79"
2,18356074000120,13/07/2017,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 817,83"
3,18356074000120,01/01/2016,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
4,18356074000120,01/12/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
5,18356074000120,01/11/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
6,18356074000120,01/10/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00"
7,18356074000120,15/04/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 844,75"
8,18356074000120,11/03/2015,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 267,00"
0,18356074000120,01/11/2015,NaN,OUTRAS OPER,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 1877,29"

In [58]:
dfDiv[dfDiv['natureza']=='CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO']["modalidade_natureza"].unique().tolist()

['DUPLICATA',
 'OUTRAS OPER',
 'NOTA FISCAL',
 'VENDA MERCAD',
 'TIT DESCONTA',
 'TIT DESCONTA                  ',
 'SERV TELEFON',
 'OUTRAS OPER                   ',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIA ELET',
 'CONFISS DIV',
 'CREDITO E FINANCIAMENTO-FINANC',
 'CREDIARIO',
 'TITULOS DESCONTADOS-TURISMO   ',
 'DIVIDAS CHEQ',
 'REPASSES                      ',
 'OUTRAS OPERACOES-FINANCEIRA   ',
 'SEGURO SAUDE',
 'CONSORCIO CO',
 'CONSORCIO CONTEMPLADO         ',
 'TELEF FX',
 'TELEF FIXA',
 'TELEF MOVEL',
 'FAT AGUA']

In [59]:
dfDiv[dfDiv['modalidade_natureza']=='DIVIDAS CHEQ']

,cnpj,data_ocorrencia,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor
0,26856710000101,30/11/2017,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 3009,75"
7,03704136000170,09/03/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 580,00"
8,03704136000170,11/02/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 580,00"
9,03704136000170,06/01/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 580,00"
0,28178160000144,30/06/2018,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 500,00"
13,11728613000166,07/04/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 264,99"
0,15549133000199,12/04/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 168,00"
1,15549133000199,12/03/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 168,00"
0,09115820000101,10/03/2018,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 10000,00"
2,20314546000124,01/07/2016,NaN,DIVIDAS CHEQ,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,None,"R$ 10000,00"

In [60]:
dfDiv[dfDiv['cnpj']=='11728613000166']["uf"].unique().tolist()

['SP', None]

In [61]:
dfDiv.to_excel("../tabelas/base_dividas_201904.xlsx")

In [143]:
dfDiv = pd.read_excel("../tabelas/base_dividas.xlsx")

In [62]:
float(dfDiv["valor"].iloc[0].split("R$ ")[1].replace(",", "."))

892.53

In [63]:
dfDiv["valor_divida"] = dfDiv.apply(lambda x : float(x["valor"].split("R$ ")[1].replace(",", ".")), axis=1)

In [64]:
dfDiv.head()

,cnpj,data_ocorrencia,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,valor_divida
0,19008188000142,21/05/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53",892.53
1,19008188000142,22/03/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,00",560.00
2,19008188000142,15/03/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,80",560.80
3,19008188000142,01/03/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",452.50
4,19008188000142,22/02/2018,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",452.50

In [65]:
dfDiv["data"] = dfDiv.apply(lambda x : datetime.strptime(x["data_ocorrencia"], "%d/%m/%Y").date(), axis=1)

In [66]:
dfDiv.drop(columns = ["data_ocorrencia"], axis=1, inplace=True)

In [67]:
dt = dfDiv[dfDiv["cnpj"]=='19008188000142']

In [68]:
## tempo medio entre dividas

In [69]:
(datetime.now().date() - dt["data"].iloc[0]).days

325

In [70]:
trace = go.Bar(
    x = dt["data"],
    y = dt["valor_divida"]
)
layout = go.Layout()
fig = go.Figure(data=[trace], layout=layout)
iplot(fig)

In [71]:
dt2 = dfDiv[dfDiv['cnpj']=='20604000000370']

In [72]:
dt2

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,valor_divida,data
0,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",1000.0,2016-01-26
1,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",1000.0,2015-12-26
2,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 566,00",566.0,2015-12-16
3,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1012,00",1012.0,2015-11-26

In [73]:
trace = go.Bar(
    x = dt2["data"],
    y = dt2["valor_divida"]
)
layout = go.Layout()
fig = go.Figure(data=[trace], layout=layout)
iplot(fig)

In [74]:
dt2

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,valor_divida,data
0,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",1000.0,2016-01-26
1,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1000,00",1000.0,2015-12-26
2,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 566,00",566.0,2015-12-16
3,20604000000370,NaN,Dívida não contestada.,Falta Pagamento,protestos,RS,"R$ 1012,00",1012.0,2015-11-26

In [75]:
d = dt2.sort_values("data")[["data"]].diff().dropna()

In [76]:
d["data"].iloc[0].days

20

In [77]:
lista_tempo = d["data"].tolist()

In [78]:
lista_tempo = [el.days for el in lista_tempo]

In [79]:
np.mean(lista_tempo)

20.333333333333332

In [80]:
dfDiv.head(1)

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,valor_divida,data
0,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53",892.53,2018-05-21

In [81]:
# variavel : tempo medio entre dividas

In [82]:
def tempo_medio_entre_dividas(cnpj, df_dividas):
    dt = df_dividas[df_dividas["cnpj"]==cnpj]
    dt = dt.drop_duplicates()
    d = dt.sort_values("data")[["data"]].diff().dropna()
    lista_tempo = d["data"].tolist()
    lista_tempo = [el.days for el in lista_tempo]
    return np.mean(lista_tempo)

In [83]:
tempo_medio_entre_dividas("29734727000184", dfDiv)

23.0

In [84]:
tempo_medio_entre_dividas('19008188000142', dfDiv)

54.81818181818182

In [85]:
fr = list()
for el in dfDiv["cnpj"].unique().tolist():
    t = tempo_medio_entre_dividas(el, dfDiv)
    fr.append(pd.DataFrame({"cnpj" : [el], "tempo_medio" : [t]}))

In [86]:
## tempo medio == 0 => todas as dividas adquiridas em uma data
## tempo medio == nan => apenas um registro de divida

In [87]:
df_tempo = pd.concat(fr)

In [88]:
df_tempo.sort_values("tempo_medio", ascending=False).head()

             cnpj  tempo_medio
0  04160069000133       1135.0
0  18058375000178       1035.0
0  04247535000112        973.0
0  08756051000150        913.0
0  03598113000129        891.0

In [89]:
el = '24667289000165'
dt = dfDiv[dfDiv['cnpj']==el]

In [90]:
trace = go.Bar(
    x = [el.strftime("%Y/%B/%d") for el in dt["data"].tolist()],
    y = dt["valor_divida"]
)
layout = go.Layout(bargap = 0.6)
fig = go.Figure(data=[trace], layout=layout)
iplot(fig)

In [91]:
## idade maxima de uma divida

In [92]:
df_idade = dfDiv.groupby("cnpj").min().reset_index()[["cnpj", "data"]]

In [93]:
dfDiv["data"].iloc[0]

datetime.date(2018, 5, 21)

In [95]:
# dfDiv['data'] = dfDiv.apply(lambda x : x['data'].date(), axis=1)

In [96]:
df_idade["idade_maxima"] = df_idade.apply(lambda x : (datetime.now().date() - x["data"]).days, axis=1)

In [97]:
df_idade.sort_values("idade_maxima", ascending=False).head()

               cnpj        data  idade_maxima
113  05265762000133  2014-01-15          1912
385  14903137000160  2014-01-21          1906
182  08211207000117  2014-01-22          1905
429  17151619000108  2014-02-01          1895
198  08791838000152  2014-02-12          1884

In [98]:
dfDiv[dfDiv['cnpj']=='14903137000160']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,valor_divida,data
0,14903137000160,NaN,ADIANT CONTA,Adiantamento a depositantes - c/c devedores em...,restricoes_financeiras,SP,"R$ 121,98",121.98,2014-01-21

In [99]:
dfDiv[dfDiv['cnpj']=='5265762000133']

Empty DataFrame
Columns: [cnpj, descricao_natureza, modalidade_natureza, natureza, tipo, uf, valor, valor_divida, data]
Index: []

In [100]:
_df = dfDiv.groupby("cnpj").min().reset_index()[["cnpj", "data"]]

In [101]:
datetime.now().date() - _df[_df['cnpj']=='5265762000133']['data'].iloc[0]

IndexError: single positional indexer is out-of-bounds

In [102]:
df_idade.shape

(717, 3)

In [103]:
df_idade.shape

(717, 3)

In [104]:
df_tempo.shape

(717, 2)

In [105]:
df_tempo.head()

             cnpj  tempo_medio
0  19008188000142    54.818182
0  00748390000182    20.370370
0  00272073000302    48.600000
0  03403405000169    21.914634
0  04501499000171     6.590643

In [106]:
# tempo máximo de duracao de uma dívida
df_idade.sort_values("idade_maxima", ascending=False).head()

               cnpj        data  idade_maxima
113  05265762000133  2014-01-15          1912
385  14903137000160  2014-01-21          1906
182  08211207000117  2014-01-22          1905
429  17151619000108  2014-02-01          1895
198  08791838000152  2014-02-12          1884

In [107]:
df_tempo.to_excel("../tabelas/tempo_medio_entre_dividas_201904.xlsx")

In [108]:
df_idade.to_excel("../tabelas/idade_maxima_divida_201904.xlsx")

In [92]:
## entendendo os tipos de dividas para criar uma segmentacao de risco

In [86]:
dfDiv['natureza'].unique().tolist()

['Falta Pagamento',
 'CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 nan,
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Execução',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Execução Fiscal Federal',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Operações ajuizadas ',
 'Arrendamentos, inclusive leasing',
 'Busca e Apreensão',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves']

In [88]:
dfDiv[dfDiv['tipo']=='cheques']

Empty DataFrame
Columns: [cnpj, descricao_natureza, modalidade_natureza, natureza, tipo, uf, valor, data, valor_divida]
Index: []

#### Processos

-  Exemplos : Execuções e Busca e Apreensão

In [89]:
dfDiv[dfDiv['natureza'] == 'Busca e Apreensão']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,13231036000128,BUSCA E APREENSAO,NaN,Busca e Apreensão,processos,SP,"R$ 15769,07",2019-01-15,15769.07

In [91]:
dfDiv[dfDiv['tipo']=='processos']['descricao_natureza'].unique().tolist()

['EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [94]:
dfDiv[dfDiv['tipo']=='processos']["natureza"].unique().tolist()

['Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Execução Fiscal Federal',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Busca e Apreensão']

#### Restrições Financeiras

In [97]:
dfDiv[dfDiv['tipo'] == 'restricoes_financeiras']['modalidade_natureza'].unique().tolist()

['EMPRES CONTA                  ',
 'CRED CARTAO                   ',
 'FINANCIAMENT                  ',
 'OPER IMOBILI                  ',
 'ADIANT CONTA                  ',
 'TIT DESCONTA                  ',
 'OUTRAS OPER                   ',
 'CREDITO E FINANCIAMENTO-FINANC',
 'EMPRESTIMO                    ',
 'TITULOS DESCONTADOS-TURISMO   ',
 'OPER AJUIZAD                  ',
 'REPASSES                      ',
 'LEASING                       ',
 'OUTRAS OPERACOES-FINANCEIRA   ',
 'CONSORCIO CONTEMPLADO         ',
 'CONS BENS                     ',
 'CONS VEICULOS                 ']

#### Pendências

In [100]:
dfDiv[dfDiv['tipo']=='pendencias']['modalidade_natureza'].unique().tolist()

['DUPLICATA',
 'OUTRAS OPER',
 nan,
 'NOTA FISCAL',
 'VENDA MERCAD',
 'TIT DESCONTA',
 'ADIANT CONTA',
 'SERV TELEFON',
 'EMPRESTIMO',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIA ELET',
 'CONFISS DIV',
 'CRED CARTAO',
 'EMPRES CONTA',
 'CREDIARIO',
 'DIVIDAS CHEQ',
 'FINANCIAMENT',
 'SEGURO SAUDE',
 'CONSORCIO CO',
 'TELEF FX',
 'TELEF FIXA',
 'TELEF MOVEL',
 'FAT AGUA',
 'CONS VEICULO']

#### Protestos

In [102]:
dfDiv[dfDiv['tipo']=='protestos']['natureza'].unique().tolist()

['Falta Pagamento']

In [103]:
dfDiv[dfDiv['tipo']=='protestos']['modalidade_natureza'].unique().tolist()

['Dívida não contestada.']

In [111]:
dfDiv[dfDiv['tipo']=='protestos'].head()

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
0,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 892,53",2018-05-21,892.53
1,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,00",2018-03-22,560.00
2,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 560,80",2018-03-15,560.80
3,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",2018-03-01,452.50
4,19008188000142,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 452,50",2018-02-22,452.50

#### Processos

In [105]:
dfDiv[dfDiv['tipo'] =='processos']['descricao_natureza'].unique().tolist()

['EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [106]:
dfDiv[dfDiv['tipo']=='processos']['natureza'].unique().tolist()

['Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Execução',
 'Execução Fiscal Federal',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Busca e Apreensão']

In [108]:
dfDiv['natureza'].unique().tolist()

['Falta Pagamento',
 'CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO',
 nan,
 'Execução de Título Judicial Trabalhista',
 'Execução Fiscal Estadual',
 'Empréstimos em contas - c/c garantidas, financiamentos de capital de giro, programas especiais, etc',
 'Cartão de crédito',
 'Créditos e financiamentos - empréstimos a pessoas físicas , financiamentos ao consumidor final , etc',
 'Execução',
 'Operações imobiliárias em geral, inclusive de sociedades de poupança',
 'Execução Fiscal Federal',
 'Adiantamento a depositantes - c/c devedores em geral',
 'Empréstimos agrícolas e industriais - financiamentos de custeio de investimentos agrícolas e industriais',
 'Execução Fiscal Municipal',
 'Execução - Pequenas Causas',
 'Operações ajuizadas ',
 'Arrendamentos, inclusive leasing',
 'Busca e Apreensão',
 'Consórcio outros bens móveis',
 'Consórcio veículos leves']

#### Definindo segmentos de dívidas

In [116]:
## processos e suas modalidades representa um segmento

In [118]:
dfDiv[dfDiv['tipo']=='processos']['descricao_natureza'].unique().tolist()

['EXC JUD TRAB',
 'FISCAL ESTADUAL',
 'EXECUCAO',
 'FISCAL FEDERAL',
 'FISCAL MUNICIPAL',
 'EXECUCAO - JE',
 'BUSCA E APREENSAO']

In [119]:
# 'descricao_natureza'
segmento1 = ['EXC JUD TRAB',
             'FISCAL ESTADUAL',
             'EXECUCAO',
             'FISCAL FEDERAL',
             'FISCAL MUNICIPAL',
             'EXECUCAO - JE',
             'BUSCA E APREENSAO']
# segmento1 => tipo == processos

In [120]:
## segmento2 dividas de emprestimos

In [137]:
l = dfDiv['modalidade_natureza'].unique().tolist()

In [139]:
for el in l:
    try:
        el.split()
    except:
        print(el is np.nan)

True

In [144]:
dfDiv['modalidade'] = dfDiv.apply(lambda x : x['modalidade_natureza'].replace(" ", "") if not x['modalidade_natureza'] is np.nan else None, axis=1)

In [146]:
lista_modalidade = dfDiv['modalidade'].unique().tolist()

In [149]:
lista_modalidade = [el.replace(".", "") for el in lista_modalidade if not el is None]

In [151]:
lista_modalidade = [el for el in lista_modalidade if not el is None]

In [152]:
lista_modalidade
['EMPRESTIMO', 'CREDITOEFINANCIAMENTO-FINANC', 'CREDCARTAO']

['Dívidanãocontestada',
 'DUPLICATA',
 'OUTRASOPER',
 'NOTAFISCAL',
 'EMPRESCONTA',
 'CREDCARTAO',
 'FINANCIAMENT',
 'OPERIMOBILI',
 'VENDAMERCAD',
 'TITDESCONTA',
 'ADIANTCONTA',
 'SERVTELEFON',
 'EMPRESTIMO',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIAELET',
 'CONFISSDIV',
 'CREDITOEFINANCIAMENTO-FINANC',
 'CREDIARIO',
 'TITULOSDESCONTADOS-TURISMO',
 'DIVIDASCHEQ',
 'OPERAJUIZAD',
 'REPASSES',
 'LEASING',
 'OUTRASOPERACOES-FINANCEIRA',
 'SEGUROSAUDE',
 'CONSORCIOCO',
 'CONSORCIOCONTEMPLADO',
 'CONSBENS',
 'TELEFFX',
 'TELEFFIXA',
 'TELEFMOVEL',
 'FATAGUA',
 'CONSVEICULO',
 'CONSVEICULOS']

In [153]:
# segmento 2 : dividas

In [156]:
dfDiv['cnpj'].iloc[0]

19008188000142

In [157]:
dfDiv[dfDiv['cnpj']==18356074000120]

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida,modalidade
0,18356074000120,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 11420,97",2015-01-27,11420.97,CREDITOEFINANCIAMENTO-FINANC
1,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2318,53",2015-01-26,2318.53,CREDCARTAO
2,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2590,85",2014-12-13,2590.85,CREDCARTAO
3,18356074000120,NaN,CREDITO E FINANCIAMENTO-FINANC,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,restricoes_financeiras,SP,"R$ 56003,05",2014-05-09,56003.05,CREDITOEFINANCIAMENTO-FINANC
0,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 5946,33",2018-02-07,5946.33,Dívidanãocontestada.
1,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 361,79",2017-07-13,361.79,Dívidanãocontestada.
2,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 817,83",2017-07-13,817.83,Dívidanãocontestada.
3,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2016-01-01,500.00,Dívidanãocontestada.
4,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2015-12-01,500.00,Dívidanãocontestada.
5,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2015-11-01,500.00,Dívidanãocontestada.
6,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 500,00",2015-10-01,500.00,Dívidanãocontestada.
7,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 844,75",2015-04-15,844.75,Dívidanãocontestada.
8,18356074000120,NaN,Dívida não contestada.,Falta Pagamento,protestos,SP,"R$ 267,00",2015-03-11,267.00,Dívidanãocontestada.
0,18356074000120,NaN,OUTRAS OPER,CÓDIGO DE ANOTAÇÃO NÃO ENCONTRADO,pendencias,NaN,"R$ 1877,29",2015-11-01,1877.29,OUTRASOPER

In [133]:
l2 = [el.strip() for el in l]

AttributeError: 'float' object has no attribute 'strip'

In [134]:
l

['Dívida não contestada.',
 'DUPLICATA',
 'OUTRAS OPER',
 nan,
 'NOTA FISCAL',
 'EMPRES CONTA                  ',
 'CRED CARTAO                   ',
 'FINANCIAMENT                  ',
 'OPER IMOBILI                  ',
 'VENDA MERCAD',
 'TIT DESCONTA',
 'ADIANT CONTA                  ',
 'TIT DESCONTA                  ',
 'ADIANT CONTA',
 'SERV TELEFON',
 'EMPRESTIMO',
 'OUTRAS OPER                   ',
 'ALUGUEL',
 'ARRECADADOR',
 'CONDOMINIO',
 'ENERGIA ELET',
 'CONFISS DIV',
 'CRED CARTAO',
 'EMPRES CONTA',
 'CREDITO E FINANCIAMENTO-FINANC',
 'EMPRESTIMO                    ',
 'CREDIARIO',
 'TITULOS DESCONTADOS-TURISMO   ',
 'DIVIDAS CHEQ',
 'OPER AJUIZAD                  ',
 'REPASSES                      ',
 'LEASING                       ',
 'OUTRAS OPERACOES-FINANCEIRA   ',
 'FINANCIAMENT',
 'SEGURO SAUDE',
 'CONSORCIO CO',
 'CONSORCIO CONTEMPLADO         ',
 'CONS BENS                     ',
 'TELEF FX',
 'TELEF FIXA',
 'TELEF MOVEL',
 'FAT AGUA',
 'CONS VEICULO',
 'CONS VEICULOS                 ']

In [123]:
dfDiv[dfDiv['modalidade_natureza']=='CRED CARTAO']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
2,19070425000103,NaN,CRED CARTAO,Cartão de crédito,pendencias,NaN,"R$ 11166,37",2016-06-10,11166.37
0,4588664000174,NaN,CRED CARTAO,Cartão de crédito,pendencias,NaN,"R$ 5639,21",2016-07-05,5639.21

In [125]:
dfDiv[dfDiv['modalidade_natureza']=='CRED CARTAO                   ']

,cnpj,descricao_natureza,modalidade_natureza,natureza,tipo,uf,valor,data,valor_divida
3,4501499000171,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 11756,22",2017-02-25,11756.22
6,4501499000171,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 27909,47",2017-01-15,27909.47
9,4501499000171,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 32512,70",2017-01-05,32512.70
6,14761474000160,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 6456,28",2017-07-15,6456.28
9,14761474000160,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 22849,62",2017-01-26,22849.62
10,14761474000160,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 21012,33",2017-01-24,21012.33
2,19819235000138,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1924,17",2016-10-15,1924.17
0,5376703000132,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 13525,81",2018-05-01,13525.81
1,15389888000173,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1715,08",2016-04-01,1715.08
4,15389888000173,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1605,39",2015-07-29,1605.39
1,7194858000183,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 7334,41",2018-06-25,7334.41
1,22886258000170,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 956,65",2017-04-13,956.65
0,19086478000104,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2284,90",2018-04-25,2284.90
2,49596851000138,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 24482,19",2018-06-16,24482.19
0,15335189000140,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2121,62",2018-02-16,2121.62
1,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2318,53",2015-01-26,2318.53
2,18356074000120,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2590,85",2014-12-13,2590.85
11,5800976000162,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 10026,66",2014-11-16,10026.66
15,5800976000162,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 191003,59",2014-10-16,191003.59
5,178663000281,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 22205,07",2016-10-15,22205.07
6,178663000281,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 10822,40",2016-09-25,10822.40
1,68417526000105,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 11397,94",2019-01-10,11397.94
2,68417526000105,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 3531,10",2019-01-10,3531.10
2,8310428000142,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1906,92",2018-10-13,1906.92
0,27090358000109,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3161,01",2018-12-01,3161.01
0,15523647000175,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 5183,43",2015-10-14,5183.43
0,14373103000101,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2668,79",2016-07-24,2668.79
1,18836786000147,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 5369,88",2018-06-20,5369.88
0,21061108000164,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 792,63",2018-09-10,792.63
1,47785290000190,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 239,18",2018-11-01,239.18
...,...,...,...,...,...,...,...,...,...
1,2361751000169,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1160,24",2017-11-29,1160.24
1,8852150000135,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 144,28",2014-10-30,144.28
0,13153240000178,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2314,46",2016-10-01,2314.46
0,16612923000134,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8912,76",2018-08-25,8912.76
0,7595489000130,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 610,07",2017-07-15,610.07
1,5458709000159,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 952,70",2018-03-15,952.70
4,44705564000103,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 154,87",2016-02-21,154.87
3,18754982000172,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 9863,99",2016-11-03,9863.99
0,24247971000107,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 471,88",2017-12-01,471.88
1,3215938000117,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 51369,15",2017-03-20,51369.15
0,5865538000182,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3471,77",2018-10-25,3471.77
0,10886031000145,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,SP,"R$ 12859,42",2019-01-07,12859.42
0,14984780000166,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8757,20",2017-09-20,8757.20
4,3356764000102,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1733,42",2015-12-15,1733.42
1,3941181000149,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3376,08",2015-02-28,3376.08
0,4160069000133,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 881,99",2019-02-05,881.99
1,4160069000133,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 5623,15",2019-01-23,5623.15
2,4160069000133,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8116,65",2018-12-16,8116.65
0,5592130000184,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 3039,92",2016-09-28,3039.92
1,5864972000148,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 69550,78",2015-01-16,69550.78
1,7810124000181,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 20842,39",2016-12-16,20842.39
1,9353407000177,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 273,71",2018-11-09,273.71
4,9353407000177,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 505,19",2018-10-15,505.19
5,9353407000177,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 100196,62",2018-07-16,100196.62
2,10736773000194,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 8567,08",2017-01-16,8567.08
0,11734776000151,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1204,54",2015-09-18,1204.54
0,15690193000127,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 1309,08",2017-04-10,1309.08
0,15699778000108,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 23254,02",2016-09-01,23254.02
0,17024240000129,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,,"R$ 2349,29",2018-10-26,2349.29
0,24509856000155,NaN,CRED CARTAO,Cartão de crédito,restricoes_financeiras,PE,"R$ 859,21",2019-01-02,859.21

In [115]:
dfDiv[dfDiv['modalidade_natureza']=='EMPRESTIMO']['tipo'].unique().tolist()

['pendencias']

In [109]:
dfDiv['tipo'].unique().tolist()

['protestos', 'pendencias', 'processos', 'restricoes_financeiras']

In [52]:
## uma ideia de variavel : alavanvagem anual de dividas

In [53]:
## porte da dívida (só faz sentido se comparado com o faturamento médio?)